<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.2" package="com.xamarin.sample.analhk">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="analhk" android:icon="@drawable/icon"></application>
</manifest>